.Rproj.user/BFE9D246/sdb/s-110AE80E/A299EA7C
.Rproj.user/BFE9D246/sdb/s-110AE80E/lock_file
.Rproj.user/BFE9D246/sdb/prop/BEBFF9A7
.Rproj.user/BFE9D246/sdb/prop/INDEX
.Rproj.user/BFE9D246/saved_source_markers
.Rproj.user/BFE9D246/pcs/files-pane.pper
.Rproj.user/BFE9D246/pcs/source-pane.pper
.Rproj.user/BFE9D246/pcs/windowlayoutstate.pper
.Rproj.user/BFE9D246/pcs/workbench-pane.pper
.Rproj.user/BFE9D246/sdb/s-791A3F63/A299EA7C
.Rproj.user/BFE9D246/sdb/s-791A3F63/lock_file
.Rproj.user
